package newsprojet;
import java.util.Scanner;

/*first
 *
 * @author Admin
 */
public class Newsprojet {
    private static Scanner Scanner;

    /**
     * @param args the command line arguments
     */
    public static void main(String[] args) {
    int[]tab={12,15,13,10,8,9,13,14};
    int n = 0;
    boolean estla=false;
    System.out.println("Entrer le nombre as cherche");
    Scanner =new Scanner(System.in);
     n = n.nextInt();  
    
    
}
}
